#show_container {
  position: absolute;
  margin: auto;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
}

#show_container img {
   margin: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 100;
  }

.black_square {
  background-color: black;
  position: relative;
}
