#show_container {
  position: absolute;
}

#show_container img {
   margin: 0;
   position: absolute;               /* 2 */
   top: 50%;                         /* 3 */
   transform: translate(0, -50%);
   }   /* 4 */
