I'm sorry, you don't have permission to edit or delete this photo. You may need to <a href="/logout">logout</a> and login as the correct user, or <a href="/pictures/<%=@picture.id%>">you can go back to view this photo on its page.</a>
