<div class="container">  <!-- fixed width for website -->
    <!-- <div class="col-sm-12"> -->
    div
    <div id="main_image"><img src="/images/cool-50s-style-graffito.jpg" style="margin: -40% 0px -40% 0px;">
    </div>
    </div>
    <!-- </div>
</div>
<br></br>

<!-- <div id="main_image"><img src="<%=@path%>" alt=""></img> -->
<!-- container = transparent image plus black background -->
