<!-- fixed width for website -->
    <!-- <div class="col-sm-12"> -->
    <div id="show_container" style= "width:400px;height:100px;overflow:hidden;"><img src="http://giphy.com/embed/J4Pnwg0KVeVrO">
    </div>
    </div>
    <!-- </div>
</div>
<br></br>

<!-- <div id="main_image"><img src="<%=@path%>" alt=""></img> -->
<!-- container = transparent image plus black background -->
