<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-theme.css">
    <link rel="stylesheet" href="css/aspect.css">
     <title>Aspect ratio dot com!</title>
  </head>
  <body>
    <h2 class="offscreen">Pic dump</h2>
-    <div id="hmenu">
-    <ul>
-      <li><a href="/index">Home</a></li>
-      <% if session[:id].nil? %>
-      <li><a href="/login"><%= "Log In" %></a></li>
-      <% else %>
-      <li><a href="/logout"><%= "Log Out" %></a></li>
-      <% end %>
-    </ul>
-    </div>
    <%= yield %>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
