<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../css/bootstrap.css">
    <link rel="stylesheet" href="../../css/bootstrap-theme.css">
    <link rel="stylesheet" href="../../css/aspect.css">
     <title>Aspect - Change aspect ratio of pictures</title>
  </head>
  <body>
    <h2 class="offscreen">Aspect</h2>
    <div>
  <ul>
     <li><a href="/index">Home</a></li>
      <% if session[:id].nil? %>
     <li><a href="/login"><%= "Log In" %></a></li>
     <li><a href="/signup"><%= "Sign up" %></a></li>
     <% else %>
      <li><a href="/logout"><%= "Log Out" %></a></li>
      <% end %>
    </ul>
    </div>
    <%= yield %>
  </body>
</html>
